@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');
$primary: #e7717e;
$secondery: lighten($primary, 30%);
$light: #9e9e9e;

body {
  background: $primary;
  font-family: 'Roboto',sans-serif;
  margin: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  h1.logo {
    color: #fff;
    font-family: 'pacifico', cursive;
    font-size: 4rem;
  }
}

#form-box {
  background: #fff;
  width: 600px;
  position:relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.1),
  0 6px 10px 5px rgba(0, 0, 0, 0.1),
  0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
  &:hover {
    
  }
}

#form-box.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0)
}

#next-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 3rem;
  color: $primary;
  float: right;
  cursor: pointer;
  z-index: 2;
    &:hover {
      color: $secondery;
    }
}

#prev-btn {
  position: absolute;
  left: 30px;
  top: 12px;
  font-size: 1rem;
  color: $light;
  float: left;
  cursor: pointer;
  z-index: 2;

  &:hover {
    color: $secondery;
  }
}

#input-group {
  position: relative;
  padding: 30px 20px 20px 20px;
  margin: 10px 60px 10px 10px; 
  // opacity: 0;
}